<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/mainstyle.css' %}">
  </head>

  <a href="{% url 'prac:main2' %}" style="cursor: none;">

    <body class="slide-in">
      <div>
        <div class='layer back'></div>
        <p>
          <span class="boo">🌙</span>
        </p>
        <div class='layer front'></div>
      </div>
      <script src="{% static 'js/mainjavascript.js' %}"></script>
    </body>
  </a>

</html>