<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/mainstyle.css' %}">
  </head>

  <body>
    <div class="container">
      <div class="card">
        <div class="item">
          <div class="circle"></div>
          <img src="{% static 'images/logo.png' %}" alt="Luna" style="border-radius: 10rem;">
        </div>
        <div class="info">
          <h1 class="title">호텔 델루나</h1>
          <h3>Kakao Friends 3D Test Page Example Example Example</h3>
          <div class="options">
            <button class="active">1층</button>
            <button>2층</button>
            <button>3층</button>
            <button>4층</button>
          </div>
          <div class="purchase">
            <button>Purchase</button>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'JS/mainjavascript.js' %}"></script>
  </body>

</html>