<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로또 번호 추첨</title>
    <style>
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .lotto_btn {
            border-radius: 3rem;
            width: 20vw;
            height: 5vh;
            font-size: 1.5rem;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="main" id="main_area">
        <button class="lotto_btn" id="lottobtn">로또 번호 추첨</button>
    </div>
</body>
</html>