<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="display: flex; justify-content:center; font: 2rem bold;">
        {{num1}} + {{num2}} = {{sum_}}
    </div>
    <div style="display: flex; justify-content:center; font: 2rem bold;">
        {{num1}} - {{num2}} = {{min_}}
    </div>
    <div style="display: flex; justify-content:center; font: 2rem bold;">
        {{num1}} * {{num2}} = {{gob_}}
    </div>
    <div style="display: flex; justify-content:center; font: 2rem bold;">
        {{num1}} // {{num2}} = {{div_}}
    </div>
</body>

</html>