body {
    margin: 0;
    background: url("https://img1.yna.co.kr/etc/inner/KR/2019/07/15/AKR20190715126700005_01_i_P4.jpg");
    background-size: cover;
    /* linear-gradient(rgba(192, 189, 189, 0.5), rgba(192, 191, 191, 0.5)),   */
  }

a {
    text-decoration: none;
}

/* 상단 네브바 */
input[id="menuicon"] {
    display: none;
}

input[id="menuicon"] + label {
    display: block;
    width: 100%;
    height: 40px;
    position: relative;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: #000;
    transition: all .35s;
}


div[class="sidebar"] {
    width: 100%;
    height: 150px;
    background: rgba(255,255,255,0.7);
    position: fixed;
    display: flex;
    align-items: center;
    top:-300px;
    z-index: 1;
    transition: all .35s;
}

input[id="menuicon"]:checked + label + div {
    top:0px;

}

div[class="logo_img"] {
    cursor: pointer;
    position: absolute;
    margin-top:0;
    left:50%;
}

div[class="logo_img"] img {
    border-radius: 100%;
    width:100%;
    height:200px;
    transform: translateX(-50%);
}

input[id="menuicon"]:checked + label {
    z-index: 2;
}

div[class="body_cover"] {
    padding-top: 5rem;
    z-index: 10;
}


/* input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
} */

/* input[id="menuicon"]:checked + label {
    z-index: 2;
}

input[id="menuicon"]:checked + label span{
    background-color: #fff;
}

input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
} */