<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <H1>게시판</H1>
    <a href="{% url 'repeating:new' %}">글 쓰기</a>
    {% for repeat in repeats %}
    <h3>{{ repeat.title }}</h3>
    {{ repeat.context }}
    <p>{{ repeat.created_at }} {{ repeat.updated_at }}</p>
    <a href="{% url 'repeating:edit' repeat.pk %}">글 수정</a>
    <hr>
    {% endfor %}

</body>

</html>